body{
  padding-top: 0;
}

  .community-banner{
    height:500px;
    min-width:25%;
    background-image: url('https://source.unsplash.com/random/1440x1080');
    padding-top: 0%;
  }

  .community-name{
    color:whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 69px;
    font-weight: 999;
    position: relative;
    top: 140px;
  }

  .community-description{
    color:whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    position: relative;
    font-size: larger;
    top:160px;
    margin-right: auto;
  }

  .community-button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    position:relative;
    top:180px;
    margin: 4px 12px;
  }

/* butto community */
  .button-community {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button-community:hover {
    background: #F6F9FE;
    color: #6923D0;
  }
  
  .button-community:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button-community:focus {
    outline: none;
    border: 2px solid #6923D0;
  }
  
  .button-community:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-community:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-community:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-community:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-community:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

/* filter drop down */
.filter {
    position: relative;
    display:inline-block;
  }
  
  .filter-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    padding: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;;
    flex-wrap: wrap;
    min-width: 100px;
  }
  
  .filter-menu.active {
    display: flex;
  }
  
  .filter-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-grow: 1;
    flex-basis: calc(50% -10px);
    box-sizing: border-box;
  }
  
  .filter-item:hover {
    background-color: #ddd;
  }
  
  .filter:hover .filter-menu {
    display: flex;
  }

/*profile layout*/

.profile-banner{
    height:300px;
    background-image: url('https://source.unsplash.com/random/1440x1080');
    padding-top: 0%;
    background-size: cover;
    margin-left: -2.4vw;
  }

.profile-picture{
    height: 8rem;
    width: 9vw;
    background-color: lightseagreen;
    background-image: url(https://i.pravatar.cc/120);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 10rem;
    left: 0.45rem;
    background-size: cover;
}
  .profile-name{
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6vw;
    font-weight: 999;
    position: absolute;
    top: 12.25rem;
    left: 14vw;;
    width: fit-content;
  }
  
  @media (max-width: 767px) {
    body{
      padding-left: 7vw;
      overflow: hidden;
    }
  }

  @media (max-width: 1416px) {
    .profile-name{
      font-size: 5vw;
      left: 14.75vw;
      top: 15.5vw;
    }
  }

  @media (max-width: 1305px) {
    .profile-name{
      top: 16.5vw;
    }
  }

  @media (max-width: 1280px) {
    .profile-name{
      top: 17.5vw;
      left: 16vw;
    }

    .profile-picture{
      width: 10vw;
    }
  }

  @media (max-width: 1200px) {
    .profile-name{
      top: 18.5vw;
      left: 17vw;
    }
  }

  @media (max-width: 1100px) {
    .profile-name{
      top: 22.5vw;
      left: 17.85vw;
    }

    .profile-picture{
      height: 7rem;
    }
  }

  @media (max-width: 1024px) {
    /* .profile-name{
      top: 22.5vw;
      left: 17.85vw;
    } */

    .profile-picture{
      top: 17vw;
    }
  }

  @media (max-width: 984px) {
    .profile-name{
      top: 23.5vw;
    }

    .profile-picture{
      top: 18vw;
    }
  }

  @media (max-width: 930px) {
    .profile-name{
      top: 25vw;
    }

    .profile-picture{
      top: 19vw;
    }
  }

  @media (max-width: 880px) {
    .profile-name{
      top: 27vw;
      left: 19.5vw;
    }

    .profile-picture{
      top: 20vw;
      width: 11vw;
    }
  }

  @media (max-width: 840px) {
    .profile-name{
      top: 29vw;
      left: 20vw;
    }

    .profile-picture{
      top: 23vw;
      width: 11vw;
    }
  }

  @media (max-width: 767px) {
    .profile-name{
      top: 32vw;
      left: 19vw;
    }

    .profile-picture{
      top: 24vw;
      width: 13vw;
    }
  }

  @media (max-width: 700px) {
    .profile-name{
      top: 36vw;
    }

    .profile-picture{
      top: 26vw;
    }
  }

  @media (max-width: 660px) {
    .profile-name{
      top: 39vw;
    }

    .profile-picture{
      top: 30vw;
      height: 6rem;
    }
  }

  @media (max-width: 600px) {
    .profile-name{
      top: 45vw;
    }

    .profile-picture{
      top: 34vw;
      height: 5.5rem;
    }
  }

  @media (max-width: 550px) {
    .profile-name{
      top: 49vw;
    }

    .profile-picture{
      top: 38vw;
      height: 5.25rem;
    }
  }

  @media (max-width: 500px) {
    .profile-name{
      top: 53vw;
    }

    .profile-picture{
      top: 42vw;
      height: 5rem;
    }
  }