*{
    margin: 0;
    padding: 0;
}

.nav__dropdown-item{
    display: flex;
    flex-direction: row;
}

.profile-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-img{
    height: auto;
    width: auto;
}

.profile-div > h4{
    color: #000000;
}

.tagss,
.nav-tagss{
    padding: 0.35rem;
    font-family: ui-sans-serif;
    font-size: 15px;
    border-radius: 5px;
    color: #3e2093;
    background-color: #ffffff;
    border: 1px solid #3e2093;
    cursor: pointer;
}

.nav-tagss{
    color: #146c43;
    background-color: #ffffff;
    border: 1px solid #146c43;
}

.nav-tagss:hover{
    background-color: #146c43;
    color: #ffffff;
}

.tagss:hover{
    background-color: #3e2093;
    color: #ffffff;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
}

.flex-end{
    justify-content: flex-end;
}

.card{
    border: 1px solid #c7c5c5;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: #c7c5c5 3px 3px 2px;
    width: 75%;
}

.card-img{
    width: 15rem;
    height: 10rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-right: auto;
    margin-left: 0rem;
}

.act-btn{
    margin: 0 0.25rem;
    padding: 0.5rem;
    font-family: ui-sans-serif;
    font-size: 15px;
    border-radius: 5px;
    color: #0d6efd;
    background-color: #ffffff;
    border: 1px solid #0d6efd;
    cursor: pointer;
    font-weight: 600;
}

.act-btn:hover{
    background-color: #0d6efd;
    color: #ffffff;
}

.nav__name{
    white-space: pre-wrap;
    word-break: break-word;
}

.section-heading{
    margin-inline-end: 0.5rem;
    position: relative;
    left: 35%;
    width: fit-content;
    color: #222222;
}

.modal{
    /* border: 2px solid #533bdb; */
    background-color: #22222252;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-dialog{
    padding: 0.75rem 1.5rem;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 10px;
}

.modal-header{
    text-align: center;
    margin-bottom: 1.25rem;
}

.modal-title{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.modal-body > form{
    display: flex;
    flex-direction: column;
}

.modal-body > form > input,
.modal-body > form > textarea{
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: 1px transparent;
    border-bottom: 2.5px solid #533bdb;
    border-right: 2.5px solid #533bdb;
    border-radius: 6px;
    box-shadow: #533bdb 1.5px 1.5px 3.5px;
    text-align: justify;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    min-width: 20rem;
}

.modal-footer> input.btn-primary{
    background-color: #d75b4c;
    border: 1px solid #d75b4c;
    color: #ffffff;
    padding: 0.45rem;
    margin-bottom: 0.75rem;
    border-radius: 5px;
    text-align: justify;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    opacity: 91%;
}

.modal-footer> input.btn-primary:hover{
    opacity: 100%;
}

.tag-descrp{
    height: 5rem;
}

.btn-start{
    margin-right: 0.45rem;
}

.close-btn{
    transition: color 0.12s ease-in-out;
}

.show-modal {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
