.dropdown-profile {
    position: relative;
    display: inline-block;
  }

  .dropdown-profile-content {
    display: none;
    position: absolute;
    background-color:rgba(249, 249, 249,2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -250%;
  }

  .dropdown-profile-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-profile-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown-profile:hover .dropdown-profile-content {
    display: block;
  }
  

  .dropdown-profile:hover .dropcolor {
    background-color: #6923D0;
  }