{%load static %}
<!DOCTYPE html>
<!---Code-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>
    <!--CSS File-->
    <link rel="stylesheet" href="{% static 'css/signupstyle.css'%}" />
    <script type="module" src="{% static 'axios/dist/axios.js' %}"></script>
  </head>
  <body>
    <section class="container">
      <header>{{community_header}}</header>
      <form class="form">
        <input type="hidden" id="csrf_token"value="{{csrf_token}}">
        <div id="errorMessage" style="display: none; color: red;"></div>
        <div class="input-box">
          <label>Name Of the Community</label>
          <input id="community" type="text" placeholder="Enter name" required />
        </div>
        <div class="input-box">
          <label>Description</label>
          <input id="Description" type="text" placeholder="Give a Description" required />
        </div>
        </div>
        <div class="gender-box">
          <h3>Restricted</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-yes" name="gender" checked />
              <label for="check-male">Yes</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-no" name="gender" />
              <label for="check-female">No</label>
            </div>
          </div>
        </div>
        <button id="submitbtn" >Submit</button>
      </form>
    </section>
    <script src="{% static 'javascript/community.js' %}"></script>
  </body>
</html>