{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="{% static "boxicons/css/boxicons.css" %}">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
        <link rel="stylesheet" href="{% static "css/cardstyle.css" %}">
        <!--prefill-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        
        <title>Kerte | {{channel_name}}</title>
    </head>
    <body>
        <link rel="stylesheet" href="{% static 'css/testbar.css' %}">
        <!--<nav_barclass class="nav_barclass">
            <a href="" class="active"></a>
            <hr>
            <a href=""></a>
        </nav_barclass>-->
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                
                <a href="#" class="header__logo">{{channel_name}}</a>
                {% if channel_name != "Profile" and channel_id %}
                    {% if designation == "OWNER" %}
                        <input type="button" value="edit" href="window.location='/@community/edit/{{channel_id}}/'">
                        <input type="button" value="permission" href="#">
                    {% endif %}
                    <input type="button" value="New Post" onclick="window.location='/@post/new/{{channel_id}}'">
                {% else %}
                    <!--put in else card-->
                {% endif %}
                <div class="header__search">
                    <input type="search" placeholder="Search" class="header__input">
                    <i class='bx bx-search header__icon'></i>
                </div>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>

                <div class="dropdown-profile">
                    
                    <img src="{{request.user.profile_pic}}" alt="profile" class="header__img dropcolor">
                
                <div class="dropdown-profile-content">
                    <a href="#" class="nav__dropdown-item">
                        <i class='bx bx-user nav__icon' ></i>Profile</a>


                    <a href="#" class="nav__dropdown-item">Passwords</a>
                    
                    <a href="#" class="nav__dropdown-item">
                        Mail</a>
                    
                    <a href="#" class="nav__dropdown-item">
                        Accounts</a>
                    <hr>
                    <a href="/logout" class="nav__dropdown-item">
                        <i class='bx bx-log-out nav__icon' ></i>logout</a>
                </div>
            <div>
            </div>
        </header>

        <!--========== NAV ==========-->
        
        <div class="nav" id="navbar">
            
            <nav class="nav__container">
                
                <div>
                    <a href="/@community/create" class="nav__link nav__logo">
                        <i class='bx bxs-disc nav__icon' ></i>
                        <span class="nav__logo-name">New Community</span>
                    </a>
                    {% for j in community_sidebar %}
                    <div class="nav__list">
                        <div class="nav__items">
                            <a href="/@community/{{j.community.uuid}}" class="nav__link">
                                <i class='bx bx-message-rounded nav__icon' ></i>
                                <span class="nav__name">{{j.community.name}}</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <a href="#" class="nav__link nav__logout">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        {% block content %} {% endblock content %}
        <!--========== MAIN JS ==========-->
        <script src="{% static "javascript/landingPage.js" %}"></script>
    </body>
</html>