{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="{% static "boxicons/css/boxicons.css" %}">
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
        <link rel="stylesheet" href="{% static "css/cardstyle.css" %}">
        <link rel="stylesheet" href="{% static 'css/testbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!--prefill-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Kerte | {{channel_name}}</title>
    </head>
    <body>
        <!--<nav_barclass class="nav_barclass">
            <a href="" class="active"></a>
            <hr>
            <a href=""></a>
        </nav_barclass>-->
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                {% if channel_name != "Profile" %}
                <a title="Click to share link" href="javascript:navigator.clipboard.writeText(window.location.href)" class="header__logo" >
                    {{channel_name}}
                </a>
                {%else %}
                <!--a href="javascript:navigator.clipboard.writeText(window.location.href)" class="header__logo"-->
                <a class="header__logo">{{channel_name}}</a>
                {% endif %}
                <div class="tags_area">
                {% if channel_name != "Profile" %}
                    {% if designation == "OWNER" or designation == "ADMIN" %}
                        <input type="button" class="nav-tagss" value="edit" href="window.location='/@community/edit/{{channel_id}}/'">
                        <input type="button" class="nav-tagss" value="permission" onclick="window.location='/@community/perms/{{channel_id}}'">
                        <input type="button" class="nav-tagss" value="New Post" onclick="window.location='/@post/new/{{channel_id}}/'">
                    {% elif designation == "New" %}
                    <input type="button" class="nav-tagss" value="Join Community" onclick="window.location='/@community/join/{{channel_id}}'">
                    {% elif designation == "MOD" %}
                    <input type="button" class="nav-tagss" value="New Post" onclick="window.location='/@post/new/{{channel_id}}/'">
                    {% elif designation == "USER" %}
                    <input type="button" class="nav-tagss" value="Leave Community" onclick="window.location='/@community/leave/{{channel_id}}'">
                    <input type="button" class="nav-tagss" value="New Post" onclick="window.location='/@post/new/{{channel_id}}/'">
                    {% endif %}
                {% else %}
                
                {% endif %}
                </div>
                <div class="header__search" style="width:450px">
                    <input id="searchbar"  type="search" placeholder="Search New Community" class="header__input" onkeydown="searchCommunity(this)">
                    <i class='bx bx-search header__icon'></i>
                </div>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>

                <div class="dropdown-profile">
                    <div class="profile-div">    
                        <img src="{{request.user.profile_pic}}" alt="profile" class="profile-img">
                        <h4>{{request.user.username}}</h4>
                    </div>
                    <div class="dropdown-profile-content">
                        <!-- <a href="#" class="nav__dropdown-item">
                            <i class='bx bx-user nav__icon'>
                                <img src="images/user.png" alt="" srcset="">
                            </i>
                            <h4>Profile</h4>
                        </a>
                        <a href="#" class="nav__dropdown-item">
                            <i class='bx bx-user nav__icon'>
                                <img src="images/lock.png" alt="" srcset="">
                            </i>
                            <h4>Passwords</h4>
                        </a> 
                        <a href="#" class="nav__dropdown-item">
                            <i class='bx bx-user nav__icon'>
                                <img src="images/mail.png" alt="" srcset="">
                            </i>
                            <h4>Mail</h4>
                        </a--> 
                        <a href="/home/" class="nav__dropdown-item">
                            <i class='bx bx-user nav__icon'>
                                <img src="images/contact-round.png" alt="" srcset="">
                            </i>
                            <h4>Profile</h4>
                        </a>
                        <hr>
                        <a href="/accounts/logout" class="nav__dropdown-item">
                            <i class='bx bx-user nav__icon'>
                                <img src="images/log-out.png" alt="" srcset="">
                            </i>
                            <h4>Logout</h4>
                        </a>
                    </div>
            <div>
            </div>
        </header>

        <!--========== NAV ==========-->
        
        <div class="nav" id="navbar">
            
            <nav class="nav__container">
                
                <div>
                    <a href="/@community/create" class="nav__link nav__logo">
                        <i class='bx bxs-disc nav__icon' ></i>
                        <span class="nav__logo-name">New Community</span>
                    </a>
                    {% for j in community_sidebar %}
                    <div class="nav__list">
                        <div class="nav__items">
                            <a href="/@community/{{j.community.uuid}}" class="nav__link">
                                <!--i class='bx bx-message-rounded nav__icon' ></i-->
                                <span class="nav__name">{{j.community.name}}</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <a href="/" class="nav__link nav__logout">
                    <!--i class='bx bx-log-out nav__icon' ></i-->
                    <span class="nav__name">Kerte</span>
                </a>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        {% block content %} {% endblock content %}
        <!--========== MAIN JS ==========-->
        <script src="{% static "javascript/landingPage.js" %}"></script>
    </body>
</html>