{% extends "mainBase.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/ineractiveui.css" %}">
<div class="community-banner profile-banner" style="min-width: 94vw; height: 300px;">
  <div class="community-name" style="position: absolute; top: 3rem; font-size: 6vw;">
    <p>{{channel_name}}</p>
  </div>
  <div class="community-description" style="position: absolute; top: 13rem; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 56vw; text-align: justify; line-height: normal; font-weight: 500;">
    <p>
      {{channel_description}}
    </p>
  </div>
  <div class="community-button" style="position: absolute; top: 18.5rem;">
    {% if channel_name != "Profile" %}
        {% if designation == "OWNER" or designation == "ADMIN" %}
            <button style="margin-left:12px;" class="button-community" href="window.location='/@community/edit/{{channel_id}}/'">edit</button>
            <button  style="margin-left:12px;" class="button-community" onclick="window.location='/@community/perms/{{channel_id}}'">Permission</button>
            <Button  style="margin-left:12px;" class="button-community" onclick="window.location='/@post/new/{{channel_id}}/'">New Post</button>
        {% elif designation == "New" %}
        <button style="margin-left:12px;" type="button" class="button-community" onclick="window.location='/@community/join/{{channel_id}}'">Join Community</button>
        {% elif designation == "MOD" %}
        <Button style="margin-left:12px;" class="button-community" value="New Post" onclick="window.location='/@post/new/{{channel_id}}/'">New Post</button>
        {% elif designation == "USER" %}
        <Button style="margin-left:12px;" class="button-community" value="Leave Community" onclick="window.location='/@community/leave/{{channel_id}}'">Leave Community</button>
        <button style="margin-left:12px;" class="button-community" value="New Post" onclick="window.location='/@post/new/{{channel_id}}/'">New Post</button>
        {% endif %}
    {% else %}
    
    {% endif %}
    <!--
    <button class="button-community" style="margin-left:12px;">Join</button>
    <button class="button-community" style="margin-left:12px;">leave</button>
    -->
  </div>
</div>
<main>
        <main>
            <section>
                <div class="blog">
                  <input type="hidden" id="communityid" value="{{channel_id}}"/>
                    <!--h2 class="h2">Tags</!--h2-->
                    <div class="dropdown-profile">
                      {% if designation == "OWNER" or designation == "ADMIN" %}
                      <button id="tagcreate" class="btn btn-primary" style="display:block;color:#3e2093; min-width: 0; padding: 1.5rem 0 0.65rem 0;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="12.25" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#3e2093" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
                        New Tag
                      </button>
                      <div class="modal" tabindex="-1" id="myModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              
                              <h5 class="modal-title">
                                New Tag
                              </h5>
                            </div>
                        <input id="token" type="hidden" value="{{csrf_token}}">
                            <div class="modal-body">
                              <form action="">
                                <input type="text" id="Tagname" name="" placeholder="Enter tag name">
                                <textarea id="Tagdescription" placeholder="Enter a small description" class="tag-descrp"></textarea>
                              </form>
                            </div>
                            <div class="modal-footer flex flex-end">
                                <input type="button" class="btn-primary btn-start" data-bs-dismiss="modal" value="Close" id="close-btn">
                                <input type="submit" style="background-color:#3e2093; border:#3e2093" class="btn-primary" value="Create Tag" id="addTagbtn">
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      <div id="tags">
                        <!--input value="Delete Tag" type="button" class="tagss" onclick="deletetag()"-->
                        <input value="Clear Filter" type="button" class="tagss" onclick="cleartag()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><path d="M3.9 22.9C10.5 8.9 24.5 0 40 0H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L396.4 195.6C316.2 212.1 256 283 256 368c0 27.4 6.3 53.4 17.5 76.5c-1.6-.8-3.2-1.8-4.7-2.9l-64-48c-8.1-6-12.8-15.5-12.8-25.6V288.9L9 65.3C-.7 53.4-2.8 36.8 3.9 22.9zM432 224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm59.3 107.3c6.2-6.2 6.2-16.4 0-22.6s-16.4-6.2-22.6 0L432 345.4l-36.7-36.7c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6L409.4 368l-36.7 36.7c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0L432 390.6l36.7 36.7c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6L454.6 368l36.7-36.7z"/></svg>
                        <br>

                        {% for i in community_tags %}
                          <input data-toggle="true" type="button" title={{i.description}} value="{{i.name}}" class="tagss" onclick="toggleTag(this)">
                        {% endfor %}
                        <!--tags here-->
                      </div>
                      <script type="module" src="{% static 'axios/dist/axios.js' %}"></script>
                      <script src="{% static 'javascript/communitylanding.js' %}"></script>
                      </div>
                  </div>
                  
                    <h2 class="section-heading" id="post-div">
                      <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 32H64C46.3 32 32 46.3 32 64v64c0 17.7 14.3 32 32 32H441.4c4.2 0 8.3-1.7 11.3-4.7l48-48c6.2-6.2 6.2-16.4 0-22.6l-48-48c-3-3-7.1-4.7-11.3-4.7H288c0-17.7-14.3-32-32-32s-32 14.3-32 32zM480 256c0-17.7-14.3-32-32-32H288V192H224v32H70.6c-4.2 0-8.3 1.7-11.3 4.7l-48 48c-6.2 6.2-6.2 16.4 0 22.6l48 48c3 3 7.1 4.7 11.3 4.7H448c17.7 0 32-14.3 32-32V256zM288 480V384H224v96c0 17.7 14.3 32 32 32s32-14.3 32-32z"/></svg>
                      Posts
                    </h2>
                    <section id="posts-list">
                      {% for post in posts %}
                        <!--div class="card" data-tag="{{post.tags.name}}" style="">
                          <div class="card-header flex flex-center">
                            <div class="card-img">
                              <!--img src="{{post.banner}}" alt="">
                              <!--img  src="/media/post_img.jpg" alt="">
                              <img src="/media/kerte-banner.png" alt="">
                            </div>
                            <div class="card-text">
                              <div class="text-heading" onclick="window.location='/@post/view/{{post.uuid}}'">
                                <h4>{{post.title}}</h4>
                              </div>
                              <div class="text-body">
                                <p>{{post.description}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer flex flex-between">
                            <div class="card-actions">
                              <div class="date-time">
                                {{post.dateofpost}}</div>
                            </div>
                                <!-img src="{{post.User.profile_pic}}" alt="{{post.User.username}}" width="50">
                              </div>
                              <div>
                                <a href="#" style="color:black">{{post.User.username}}</a>
                              </div>
                            {% if user.username == post.User.username or designation == "OWNER" or designation == "ADMIN" %}
                            <div class="action-buttons">
                              <input type="button" onclick="window.location='/@post/delete/{{post.uuid}}'" value="Delete Post" class="act-btn">
                              <input type="button" onclick="window.location='/@post/edit/{{post.uuid}}'" value="Edit Post" class="act-btn">
                            </div>
                            {% elif designation == "OWNER" or designation == "ADMIN" or designation == "MOD" %}
                            <div class="action-buttons">
                              <input type="button" value="Delete Post" class="act-btn">
                              <input type="button" value="Edit Post" class="act-btn">
                              <input type="button" value="approve" class="act-btn">
                            </div>
                        {% endif %}
                          </div>
                        </div-->
                        <section class="light">
                          <div class="container py-2">
                            <article class="postcard light blue">
                              <a class="postcard__img_link" href="/@post/view/{{post.uuid}}" >
                                <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
                              </a>
                              <div class="postcard__text t-dark">
                                <h1 class="postcard__title blue"><a href="/@post/view/{{post.uuid}}">{{post.title}}</a></h1>
                                <div class="postcard__subtitle small">
                                  <time datetime="{{post.dateofpost}}">
                                    <i class="fas fa-calendar-alt mr-2"></i>{{post.dateofpost}}
                                  </time>
                                </div>                              
                                <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">{{post.description}}</div> 
                                <div class="addd" style="display: flex; justify-content: space-between;">
                                  <ul class="postcard__tagbox">
                                    <!--li class="tag__item">Delete</li>
                                    <li class="tag__item play blue">
                                      <a href="#">Edit</a>
                                    </li -->
                                    {% if user.username == post.User.username %}
                                    
                                      <li class="tag__item"><a href="/@post/delete/{{post.uuid}}">Delete</a></li>
                                      <li class="tag__item"><a href="/@post/edit/{{post.uuid}}">Edit</a></li>
                                    {% elif designation == "OWNER" or designation == "ADMIN" or designation == "MOD" %}
                                    <li class="tag__item"><a href="/@post/delete/{{post.uuid}}">Delete</a></li>
                                    <li class="tag__item"><a href="/@post/edit/{{post.uuid}}">Edit</a></li>
                                      <li class="tag__item"><a>Approve</a></li>

                                {% endif %}
                                
                                  </ul>
                                  <div class="postcard__subtitle small" style="display: flex;     align-items: flex-end;
                                  font-size: 1rem; font-weight: bolder;">
                                    <p>{{post.User.username}} | {{post.User.first_name}} {{post.User.last_name}}</p>
                                  </div>
                                </div>
                              </div>
                            </article>                            
                          </div>
                        </section>
                      {% endfor %}
                    </section>
                    <div id="load"></div>
                    <a id="loadmore"></a>
            </section>
        </main>

{% endblock content %}