{% extends "mainBase.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/ineractiveui.css" %}">
<section id="intro">
  <div class="intro-block">
      <div class="profile-banner">
        <div class="profile-picture"></div>
        <div class="profile-name">{{request.user.username}}</div>
      </div>
      <script src="{% static 'axios/dist/axios.js' %}"></script>
  </div>
</section>

<section id="articles">
  <h4 class="section-title"><br><br> Posts</h4>
  <div class="section-body">
      <div id="articles-list">
          <script src="{% static 'javascript/profile.js' %}"></script>
      </div>
  </div>
  <div id="load"></div>
  <a id="loadmore"></a>
</section>

{% endblock content %}