{% load static%}
<!DOCTYPE html>
<!--Code-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>
    <!--CSS File-->
    <link rel="stylesheet" href="{% static 'css/signupstyle.css' %}" />
  </head>
  <body>
    <section class="container">
      <header>Registration Form</header>
      <div id="successMessage" style="display: none; color: green;"></div>
      <div id="errorMessage" style="display: none; color: red;"></div>
      <form class="form" method="post">
        <input type="hidden" id="csrf_token"value="{{csrf_token}}">
      <div class="column">
        <div class="input-box">
          <label>First Name</label>
          <input id="first_name" type="text" placeholder="Enter First name" required />
        </div>
        <div class="input-box">
          <label>Last Name</label>
          <input id="last_name" type="text" placeholder="Enter Last name" required />
        </div>
      </div>

        <div class="input-box">
          <label>Password</label>
          <input id="Password" type="password" placeholder="Enter Password" required />
        </div>

        <div class="input-box">
          <label>Confirm Password</label>
          <input id="CPassword" type="password" placeholder="Enter Password" required />
        </div>
        <div class="column">
          <div class="input-box">
            <label>Username</label>
            <input id="Username" type="text" placeholder="Enter A Username" required />
          </div>
          <div class="input-box">
            <label>Birth Date</label>
            <input type="date" id="DOB" placeholder="Enter birth date" min="1998-12-31" required />
          </div>
        </div>
        <div class="input-box">
          <label>Email Address</label>
          <input id="email" type="text" placeholder="Enter email address" required />
        </div>
        <div class="input-box">
          <label>Upload a Profile Picture</label>
          <input id="profile_pic" type="File" accepts="images/  *" />
        </div>
        <button type="button" id="Registeruser">Submit</button>
      </form>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{% static 'javascript/signup.js' %}"></script>
  </body>
</html>
