{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="{% static "boxicons/css/boxicons.css" %}">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
        <link rel="stylesheet" href="{% static "css/cardstyle.css" %}">
        <!--prefill-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
        <title>Kerte</title>
    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <img src="assets/img/perfil.jpg" alt="" class="header__img">

                <a href="#" class="header__logo">channel name</a>
    
                <div class="header__search">
                    <input type="search" placeholder="Search" class="header__input">
                    <i class='bx bx-search header__icon'></i>
                </div>
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

        <!--========== NAV ==========-->
        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo">
                        <i class='bx bxs-disc nav__icon' ></i>
                        <span class="nav__logo-name">Settings</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Profile</h3>
    
                            <a href="#" class="nav__link active">
                                <i class='bx bx-home nav__icon' ></i>
                                <span class="nav__name">Home</span>
                            </a>
                            
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-user nav__icon' ></i>
                                    <span class="nav__name">Profile</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Passwords</a>
                                        <a href="#" class="nav__dropdown-item">Mail</a>
                                        <a href="#" class="nav__dropdown-item">Accounts</a>
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="nav__link">
                                <i class='bx bx-message-rounded nav__icon' ></i>
                                <span class="nav__name">Messages</span>
                            </a>
                        </div>
    
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Menu</h3>
    
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class='bx bx-bell nav__icon' ></i>
                                    <span class="nav__name">Notifications</span>
                                    <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Blocked</a>
                                        <a href="#" class="nav__dropdown-item">Silenced</a>
                                        <a href="#" class="nav__dropdown-item">Publish</a>
                                        <a href="#" class="nav__dropdown-item">Program</a>
                                    </div>
                                </div>

                            </div>

                            <a href="#" class="nav__link">
                                <i class='bx bx-compass nav__icon' ></i>
                                <span class="nav__name">Explore</span>
                            </a>
                            <a href="#" class="nav__link">
                                <i class='bx bx-bookmark nav__icon' ></i>
                                <span class="nav__name">Saved</span>
                            </a>
                        </div>
                    </div>
                </div>

                <a href="#" class="nav__link nav__logout">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        <main>
            <section>
                <div class="blog">

                    <h2 class="h2">Latest Blog Post</h2>
          
                    <div class="blog-card-group">
          
                      <div class="blog-card">
          
                        <div class="blog-card-banner">
                          <img src="./assets/images/blog-1.png" alt="Building microservices with Dropwizard, MongoDB & Docker"
                            width="250" class="blog-banner-img">
                        </div>
          
                        <div class="blog-content-wrapper">
          
                          <button class="blog-topic text-tiny">Database</button>
          
                          <h3>
                            <a href="#" class="h3">
                              Building microservices with Dropwizard, MongoDB & Docker
                            </a>
                          </h3>
          
                          <p class="blog-text">
                            This NoSQL database oriented to documents (by documents like JSON) combines some of the features from
                            relational
                            databases, easy to use and the multi-platform is the best option for scale up and have fault
                            tolerance, load balancing,
                            map reduce, etc.
                          </p>
          
                          <div class="wrapper-flex">
          
                            <div class="profile-wrapper">
                              <img src="./assets/images/author.png" alt="Julia Walker" width="50">
                            </div>
          
                            <div class="wrapper">
                              <a href="#" class="h4">Julia Walker</a>
          
                              <p class="text-sm">
                                <time datetime="2022-01-17">Jan 17, 2022</time>
                                <span class="separator"></span>
                                <ion-icon name="time-outline"></ion-icon>
                              </p>
                            </div>
          
                          </div>
          
                        </div>
          
                      </div>
            </section>
        </main>

        <!--========== MAIN JS ==========-->
        <script src="{% static "javascript/landingPage.js" %}"></script>
    </body>
</html>